<div>
  <h1><%= @product.name %> <small>By: <%= @product.vendor.name %></small></h1>

  <img src="<%= @product.photo %>">
  <ul>
    <% @product.options.each do |option| %>
      <li><%= option.name %>
    <% end %>
  </ul>
  <p><%= @product.description %></p>

  <h2><%= @product.display_price %></h2>
  <% if user_signed_in? && current_user.admin %>
    <p><a href="<%= edit_product_path(@product.id) %>">Edit</a></p>
    <p><a rel="nofollow" data-method="delete" href="<%= product_path(@product.id) %>/">Delete</a></p>
  <% end %>
</div>
<div>
  <% if user_signed_in? %>
    <%= form_for @carted_product do |f| %>
      <div>
        <%= f.label :quantity %>
        <%= f.text_field :quantity %>

        <%= f.hidden_field :product_id, value: @product.id %>
      </div>
      <div>
        <%= f.submit "Add to Cart"%>
      </div>
    <% end %>
  <% else %>
    <p>
      <a href="/users/sign_up">Sign up</a> or <a href="/users/sign_in">sign in</a> to purchase.</a>
    </p>
  <% end %>
</div>
